<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ doador.Nome }}</title>
    <!-- Inclusão do CSS do Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
            line-height: 1.6;
        }
        .publicacao {
            background-color: #fff;
            padding: 15px;
            margin-bottom: 15px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
        }       
        header {
            background: #50b3a2;
            color: white;
            padding-top: 30px;
            min-height: 70px;
            border-bottom: #e8491d 3px solid;
        }
        header a, header a:hover {
            color: #ffffff;
            text-decoration: none;
            font-size: 16px;
        }
        header .navbar-nav .nav-item .nav-link {
            text-transform: uppercase;
            font-weight: bold;
        }
        header .navbar-nav .nav-item .nav-link:hover {
            font-weight: bold;
        }
        header .navbar-nav .nav-item.active .nav-link {
            color: #e8491d;
        }
        /* Ajustes para o sistema de grid do Bootstrap */
        @media (min-width: 992px) {
            .left-column {
                position: fixed;
                top: 70px; /* Ajustar com a altura do seu navbar */
                left: 0;
                width: 25%;
                bottom: 0;
                overflow-y: auto;
                padding: 20px;
            }
            .center-column {
                margin-left: 25%;
                width: 50%;
                padding: 20px;
            }
        }
    
        /* Ajustes específicos para o estilo do Twitter no feed de publicações */
        .publicacao {
            border: 1px solid #ddd;
            border-radius: 15px;
            padding: 15px;
            margin: 10px 0;
            background-color: white;
        }
    
        .publicacao h3 {
            font-size: 1.5em;
            margin-bottom: 10px;
        }
    
        .publicacao p {
            font-size: 1.2em;
            margin-bottom: 10px;
        }
    
        .publicacao small {
            font-size: 1em;
            color: #888;
        }
    </style>
</head>
<body>
    <!-- Navbar do Bootstrap -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
            <a class="navbar-brand" href="#">{{ doador.Nome }}</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">                    
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'tela_inicial' %}">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid mt-4">
        <div class="row">
            <!-- Coluna esquerda para informações do perfil do doador -->
            <div class="left-column bg-white">
                <h2>Informações do Doador</h2>
                <p><strong>Nome:</strong> {{ doador.Nome }}</p>
                <p><strong>Username:</strong> {{ doador.username }}</p>
                <p><strong>CPF:</strong> {{ doador.cpf }}</p>
                <p><strong>Email:</strong> {{ doador.email }}</p>
                <p><strong>Telefone:</strong> {{ doador.telefone }}</p>
                <p><strong>Data de Nascimento:</strong> {{ doador.nascimento }}</p>
                <p><strong>Descrição:</strong> {{ doador.descricao }}</p>
                <p><strong>Endereço:</strong> {{ doador.rua }}, {{ doador.numero }} - {{ doador.complemento }}, {{ doador.bairro }}, {{ doador.cidade }} - {{ doador.estado }}</p>
                <p><strong>CEP:</strong> {{ doador.cep }}</p>
                <p><strong>Interesses:</strong> {{ doador.interesses }}</p>               
                
                <button id="editProfile" class="btn btn-primary">Editar Perfil</button>
            </div>

            <!-- Coluna central para publicações das ONGs e ONGs do interesse do usuário -->
            <div class="col-md-6 center-column">
                <!-- Feed de Publicações -->
                <h2>Feed de Publicações</h2>
                <div id="feedPublicacoes">
                    {% for publicacao in publicacoes %}
                        <div class="publicacao">
                            <h4>{{ publicacao.titulo }}</h4>
                            <p>{{ publicacao.descricao }}</p>
                            <small>Publicado por: {{ publicacao.autor.username }}</small><br>
                            <small>Publicado em: {{ publicacao.data_publicacao }}</small>
                        </div>
                    {% empty %}
                        <p>Nenhuma publicação encontrada.</p>
                    {% endfor %}
                </div>
            </div>

            <!-- Coluna da direita para manter o layout alinhado-->
            <div class="col-md-3">
                <h2>ONGs do seu interesse</h2>
                <div id="feedOngsInteresse">
                    {% for ong in ongs_interesses %}
                        <div class="publicacao">
                            <h3>{{ ong.nome }}</h3>
                            <p>{{ ong.descricao }}</p>
                            <small>Categoria: {{ ong.categoria }}</small><br>
                            <button class="btn btn-primary" onclick="openDonationPopup('{{ ong.nome|escapejs }}', '{{ ong.username }}')">Doar</button>
                        </div>
                    {% empty %}
                        <p>Nenhuma ONG encontrada.</p>
                    {% endfor %}
                </div>

                <h2>Todas as ONGs</h2>
                <div id="feedOngs">
                    {% for ong in ongs %}
                        <div class="publicacao">
                            <h3>{{ ong.nome }}</h3>
                            <p>{{ ong.descricao }}</p>
                            <small>Categoria: {{ ong.categoria }}</small><br>
                            <button class="btn btn-primary" onclick="openDonationPopup('{{ ong.nome|escapejs }}', '{{ ong.username }}', '{{doador.username}}')">Doar</button>
                        </div>
                    {% empty %}
                        <p>Nenhuma ONG encontrada.</p>
                    {% endfor %}
                </div>

                <h2>Seu histórico de doações</h2>
                <div id="feedDoacoes">
                    {% for doacao in doacoes %}
                        <div class="publicacao">
                            <h4>Doação para:{{ doacao.ong.nome }}</h4>
                            <p>No valor de R$ {{ doacao.valor }}</p>
                            <p>Forma de pagamento: {{ doacao.forma_pagamento }}</p>
                            <small>Doação feita por: {{ doacao.autor.Nome }}</small><br>
                            <small>Doado em: {{ doacao.data_publicacao }}</small>
                        </div>
                    {% empty %}
                        <p>Nenhuma doação encontrada.</p>
                    {% endfor %}
                </div>

            </div>
            <!-- Modal de doação -->
            <div class="modal fade" id="doacaoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Doação para a ONG</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <!-- Conteúdo do modal, exibindo o nome da ONG -->
                            <p>Você está prestes a doar para a ONG: <span id="ongNomeModal"></span></p>
                            <input type="hidden" id="ongUser" value="">
                            <!-- Adicionando campo de input para o valor desejado -->
                            <div class="form-group">
                                {% csrf_token %}
                                <label for="valorDoacao">Valor da Doação:</label>
                                <input type="text" class="form-control" id="valorDoacao" placeholder="R$ 0,00">
                            </div>
                            
                            <!-- Adicionando campo de seleção para a forma de pagamento -->
                            <div class="form-group">
                                {% csrf_token %}
                                <label for="formaPagamento">Forma de Pagamento:</label>
                                <select class="form-control" id="formaPagamento">
                                    <option value="credito">Crédito</option>
                                    <option value="debito">Débito</option>
                                    <option value="deposito">Depósito Bancário ou PIX</option>
                                </select>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                            <button type="button" class="btn btn-primary" onclick="confirmarDoacao('{{doador.username}}')">Confirmar Doação</button>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- Modal de depósito -->
            <div class="modal fade" id="depositoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Confirmação de Depósito</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <!-- Display the ONG user and donation details -->
                            <p>ONG: <span id="ongUserDepositModal"></span></p>
                            <p>Valor da Doação: R$ <span id="valorDoacaoDepositModal"></span></p>
            
                            <!-- Display fields for deposit information -->
                            <div class="form-group">
                                <label for="nomeTitular">Nome do Titular:</label>
                                <p id="nomeTitular"></p>
                            </div>
                            <div class="form-group">
                                <label for="conta">Número da Conta:</label>
                                <p id="conta"></p>
                            </div>
                            <div class="form-group">
                                <label for="agencia">Número da Agência:</label>
                                <p id="agencia"></p>
                            </div>
                            <div class="form-group">
                                <label for="banco">Banco:</label>
                                <p id="banco"></p>
                            </div>
                            <div class="form-group">
                                <label for="tipoConta">Tipo de Conta:</label>
                                <p id="tipoConta"></p>
                            </div>
                            <div class="form-group">
                                <label for="pix">Chave PIX:</label>
                                <p id="pix"></p>
                            </div>
                            <div class="form-group">
                                <label for="obs">Observações:</label>
                                <p id="obs"></p>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                            <button type="button" class="btn btn-primary" onclick="confirmarDeposito()">Confirmar Pagamento</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal de Agradecimento -->
            <div class="modal fade" id="agradecimentoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Agradecimento pela Doação</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>Obrigado por sua generosa doação de <span id="valorAgradecimentoModal"></span>!</p>
                            <p>Gostaria de compartilhar sua boa ação com amigos?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                            
                            <!-- Botão para compartilhar no WhatsApp -->
                            <button type="button" class="btn btn-success" onclick="shareOnWhatsApp()">Compartilhar no WhatsApp</button>
                            
                            <!-- Botão para compartilhar no Facebook -->
                            <button type="button" class="btn btn-primary" onclick="shareOnFacebook()">Compartilhar no Facebook</button>
                            
                            <!-- Botão para compartilhar no "X" (substitua com a lógica real) -->
                            <button type="button" class="btn btn-info" onclick="shareOnX()">Compartilhar no X</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- Scripts do Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <script>
        document.getElementById('editProfile').addEventListener('click', function() {
            window.location.href = '{% url "editar_infos_doador" doador.username %}';
        });

        function openDonationPopup(ongNome, ongUser) {
            console.log('Abrindo popup para:', ongNome);
            document.getElementById('ongNomeModal').innerText = ongNome;
            document.getElementById('ongUser').value = ongUser;

            sharedOngName = ongNome;

            // Exibir o modal padrão
            $('#doacaoModal').modal('show');
            // Limpar o valor do input quando o modal é aberto
            document.getElementById('valorDoacao').value = '';
        }

        function confirmarDoacao(username) {
            var ongNome = document.getElementById('ongNomeModal').innerText;
            var ongUser = document.getElementById('ongUser').value;
            var formaPagamento = document.getElementById('formaPagamento').value;
            var valorDoacao = document.getElementById('valorDoacao').value;

            $('#doacaoModal').modal('hide');

            // Check if the selected payment method is "Depósito Bancário"
            if (formaPagamento === 'deposito') {
                // Open another modal for deposit confirmation
                openDepositoModal(ongNome, ongUser, valorDoacao);
            } else {
                // Handle other payment methods or perform the donation directly
                console.log('Performing Donation')
                performDoacao(ongNome, ongUser, valorDoacao, formaPagamento, username);
                // Exibir o modal de agradecimento
                $('#agradecimentoModal').modal('show');

                // Preencher o valor da doação no modal de agradecimento
                document.getElementById('valorAgradecimentoModal').innerText = ` R$ ${valorDoacao}`;
            }
        }

        function openDepositoModal(ongNome, ongUser, valorDoacao) {
            console.log('Abrindo modal de depósito para:', ongNome);
            console.log(valorDoacao)
            obterDadosBancariosOng(ongUser)

            // Atualizar o conteúdo do modal com os detalhes da doação
            document.getElementById('ongUserDepositModal').innerText = ongUser;
            document.getElementById('valorDoacaoDepositModal').innerText = valorDoacao;

            // Mostrar o modal de depósito
            $('#depositoModal').modal('show');
        }

        function performDoacao(ongNome, ongUser, valorDoacao, formaPagamento, username) {
            console.log('Performing donation for:', ongNome);
            console.log('Amount:', valorDoacao);
            console.log('Payment method:', formaPagamento);
            console.log('JSON being sent:', JSON.stringify({
                'forma_pagamento': formaPagamento,
                'valor': valorDoacao,
            }));

            // Obter o token CSRF do input gerado pelo Django
            var csrfToken = document.getElementsByName('csrfmiddlewaretoken')[0].value;

            console.log('CSRF Token:', csrfToken);

            // Make a Fetch call to save_doacao view
            fetch(`/doador/${username}/realizar_doacao/${ongUser}/`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded',
                        'X-CSRFToken': csrfToken,
                    },
                    // Atualize o corpo para FormData
                    body: new URLSearchParams({
                        'forma_pagamento': formaPagamento,
                        'valor': valorDoacao,
                    }),
                })
                .then(response => response.json())
                .then(data => {
                    console.log('Response:', data);  // Log the entire response for debugging
                    if (data.success) {
                        console.log('Donation saved successfully');
                    } else {
                        console.error('Error saving donation:', data.errors);
                    }
                })
                .catch(error => {
                    console.error('Error making donation:', error);
                });
        }

        function confirmarDeposito() {
            // Retrieve deposit information from input fields
            var valorDoacao = document.getElementById('valorDoacaoDepositModal').innerText;
            var nomeTitular = document.getElementById('nomeTitular').innerText;
            var conta = document.getElementById('conta').innerText;
            var agencia = document.getElementById('agencia').innerText;
            var banco = document.getElementById('banco').innerText;
            var tipoConta = document.getElementById('tipoConta').innerText;
            var pix = document.getElementById('pix').innerText;
            var obs = document.getElementById('obs').innerText;

            var ongNome = document.getElementById('ongNomeModal').innerText;
            var ongUser = document.getElementById('ongUser').value;
            var formaPagamento = 'deposito';  // Defina a forma de pagamento como 'deposito' para depósitos

            // Chamar a função performDoacao
            performDoacao(ongNome, ongUser, valorDoacao, formaPagamento, '{{doador.username}}');

            // You can use this information for further processing or send it to the server
            console.log('Nome do Titular:', nomeTitular);
            console.log('Número da Conta:', conta);
            console.log('Número da Agência:', agencia);
            console.log('Banco:', banco);
            console.log('Tipo de Conta:', tipoConta);
            console.log('Chave PIX:', pix);
            console.log('Observações:', obs);
            console.log('NOME DA ONG: ', ongNome)
            console.log('ONG USER: ', ongUser)

            // Close the deposit modal
            $('#depositoModal').modal('hide');

            // Exibir o modal de agradecimento
            $('#agradecimentoModal').modal('show');

            // Preencher o valor da doação no modal de agradecimento
            document.getElementById('valorAgradecimentoModal').innerText = valorDoacao;
        }

        function obterDadosBancariosOng(ongUser) {
            console.log(ongUser)
        // Fazer uma solicitação AJAX para a sua view Django
        fetch(`/dadosBancarios/${ongUser}/`)
            .then(response => response.json())
            .then(data => {
                // Verificar se ocorreu um erro
                if ('error' in data) {
                    console.error(data.error);
                    // Adicione aqui a lógica para lidar com o erro, se necessário
                } else {
                    console.log(data);
                    document.getElementById('nomeTitular').innerText = data.nome_titular;
                    document.getElementById('conta').innerText = data.conta;
                    document.getElementById('agencia').innerText = data.agencia;
                    document.getElementById('banco').innerText = data.banco;
                    document.getElementById('tipoConta').innerText = data.tipoConta;
                    document.getElementById('pix').innerText = data.pix;
                    // Dados bem-sucedidos, chame a função para exibir o modal de depósito
                }
            })
            .catch(error => {
                console.error('Erro na solicitação AJAX:', error);
                // Adicione aqui a lógica para lidar com erros na solicitação, se necessário
            });
        }

        function shareOnFacebook() {
            // Utilizando a variável sharedOngName
            var url = "https://www.facebook.com/sharer/sharer.php?u=" + encodeURIComponent(document.URL) + "&quote=" + encodeURIComponent("Acabei de fazer uma doação para " + sharedOngName + "! Confira e considere doar você também, pelo https://donare.azurewebsites.net/");
            window.open(url, '_blank');
        }

        function shareOnX() {
            // Utilizando a variável sharedOngName
            var text = "Acabei de fazer uma doação para " + sharedOngName + ", pelo https://donare.azurewebsites.net/";
            var url = "https://twitter.com/intent/tweet?text=" + encodeURIComponent(text);
            window.open(url, '_blank');
        }

        function shareOnWhatsApp() {
            // Utilizando a variável sharedOngName
            var text = "Acabei de fazer uma doação para " + sharedOngName + "! Confira e considere doar você também, pelo https://donare.azurewebsites.net/";
            var url = "https://wa.me/?text=" + encodeURIComponent(text);
            window.open(url, '_blank');
        }

    </script>
</body>
</html>